.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: #71bdd5;
  font-weight: 500;
}

.navbar>div{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: auto;
  /* border:  1px solid red; */
}

.navbar-link{
  text-decoration: none;
}

.navbar-link:hover{
  cursor: pointer;
}

.products-wrapper{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
  margin: auto;
  border: 5px solid red;
}



.products-card{
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  /* border:  1px solid rgba(0, 0, 0, 0.797); */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.products-card{
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: left;
  /* border: 1px solid red; */
} 

.navbar-logo{
  width: 5%;
  border-radius: 50%;
  border: 1px solid rgb(32, 125, 175);
}

.image{
  width: 30%;
  /* border: 1px solid black; */
}

.products-detail{
  width: 60%;
  /* border: 2px solid blue; */
  text-align: left;
  margin-left: 50px;
}

#email{
  border:  1px solid red;
  text-align: center;
}

#password{
  border:  1px solid black;
  text-align: center;
}

